In [5]:
import pandas as pd

In [7]:
pd.DataFrame({"A":[1,2], "B":[4,5], "C":[7,8]}, index=[10,11])

    A  B  C
10  1  4  7
11  2  5  8

In [8]:
import pandas as pd

In [14]:
pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9],[10,11,12]],
             index =[1,2,3,4],
             columns=['A','B','C'])

    A   B   C
1   1   2   3
2   4   5   6
3   7   8   9
4  10  11  12

In [15]:
pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9],[10,11,12]],
             index =range(1,5),
             columns=['A','B','C'])

    A   B   C
1   1   2   3
2   4   5   6
3   7   8   9
4  10  11  12

In [17]:
pd.Series({"한국":"서울","일본":"도쿄", "중국":"베이징"})

한국     서울
일본     도쿄
중국    베이징
dtype: object