In [18]:
import pandas as pd
import numpy as np
import random
import string
np.random.seed(56)

In [7]:
pd.DataFrame({"A":[1,2], "B":[4,5], "C":[7,8]}, index=[10,11])

    A  B  C
10  1  4  7
11  2  5  8

In [14]:
pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9],[10,11,12]],
             index =[1,2,3,4],
             columns=['A','B','C'])

    A   B   C
1   1   2   3
2   4   5   6
3   7   8   9
4  10  11  12

In [15]:
pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9],[10,11,12]],
             index =range(1,5),
             columns=['A','B','C'])

    A   B   C
1   1   2   3
2   4   5   6
3   7   8   9
4  10  11  12

In [17]:
pd.Series({"한국":"서울","일본":"도쿄", "중국":"베이징"})

한국     서울
일본     도쿄
중국    베이징
dtype: object

In [33]:
def id():
    return ''.join(random.choice(string.ascii_letters) for i in range(5))

In [34]:
id()

'IQMkw'

In [35]:
def score():
    return np.random.randint(0, 100)

In [36]:
score()

25

In [82]:
pd.DataFrame({"국어":score(),"영어":score(),"수학":score(),"사회":score()},index=[id() for i in range(10)])

       국어  영어  수학  사회
RYEsK  33  71   6  95
ADMab  33  71   6  95
BwGkH  33  71   6  95
GHmMI  33  71   6  95
LeGyx  33  71   6  95
gBsLG  33  71   6  95
pyeTr  33  71   6  95
hGayN  33  71   6  95
wAAHN  33  71   6  95
Vchkf  33  71   6  95

In [84]:
pd.DataFrame([[score(),score(),score(),score()] for i in range(10)], index=[id() for i in range(1,11)], columns=['국어','영어','수학','사회'])

       국어  영어  수학  사회
wefvp  55  94  16   1
nPDBz  49  61  21  38
WLrqE  61  14  30  25
MUQce  88  21  28  33
FLjVg  25  74  25  32
cwQan  15  22  51  43
hRKkm  43  41  57  71
yLiPD   3  15  86  64
GqJcG  19   4  61   5
uhvsO   7  18  42  84

In [83]:
pd.DataFrame(np.random.randint(0, 100, size=(10, 4)),
             index=list((''.join(random.choice(string.ascii_letters) for i in range(5))) for i in range(10)),
             columns=['국어', '영어', '수학', '사회']
            )

       국어  영어  수학  사회
LcYdM  38  73  45  19
ddZqw  92  82  69  21
yBieq  15  36  35  34
GPeAd  66  74  83  64
LYdPA   4  47  83  85
PLbiO  32   0  41  64
NhIyO  46  43   9  32
ZramP  63  29  67  53
CjGpC  60  70  14  66
wvyDg  36  96  56  70